.dropdown-input{
    cursor: pointer;
    padding-right: 36px;
}

.btn-dropdown{
    position: absolute;
    width: 36px;
    height: 34px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    right: 1px;
    top: 1px;

    &:hover{
        background-color:#e0e0e0 ;
    }
}

.dropdown-option-container{
    position: absolute;
    top: 36px;
    z-index: 12;
    width: 100%;
    max-height: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    /* box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px; */
    box-sizing: border-box;
    background-color: #fff;

    .dropdown-option{
        max-height: 184px;
        overflow-y: overlay;
        box-sizing: border-box;
    }

    .dropdown-item{
        height: 36px;
        padding-left: 8px;
        padding-right: 8px;
        line-height: 36px;
        border-radius: 4px;

        &:hover{
            background-color: #EEEEEE;
        }

        &.selected{
            background-color: #50B83C;
            color: #fff;
            pointer-events: none;
        }
    }
    
}



